/*header*/
.logo{color:#4E47FF ;width: 99px;height: 51;}
.sign{
width: 110px;height: 40px;border-radius: 10px;
padding: 10px 20px; justify-content: center;align-items: center; }
ul li{list-style: none;}
ul li a{text-decoration: none;80
color: aliceblue;}
ul li a{text-align:center; vertical-align:middle}
ul li.sign{vertical-align: middle;}
.button{background-color: #4E47FF;
border-radius: 10px;
border-color: #4E47FF;}
:hover{color: rgb(155, 18, 75);}

.bap1{display: flex;
justify-content: space-between;}
.mir{padding: 800px 630pxpx;text-align: center;line-break: auto;color: black;}
.bg-img{width: 950px;height: 452px;}
.title{font-size: 50px;}
/*class ali*/

.banner{display: flex;justify-content: space-between;margin: 814px 150px100px 150px;
align-content: center;
padding: 300px;}
.ali,mus,tak{max-width: 517px;height: 203px;}
.mus{font-size: 42px;color: black;}
.tak{font-size: 24px;color: gray;}
.img{width: 400px;height: 300px;}
/*section*/
.cat{display: flex;}

/*section tag*/
.inline{display: flex;justify-content: space-around;gap: 5px;}
.dt{font-size: 80px;}
.ht{font-size: 38px;margin-left: 400px;}
.sobuj,ht{align-items: end;background-color: rgb(233, 224, 224);padding: 50px; border-radius: 40px;}

.items{max-width: 1140px;margin: 0 auto; padding: 130px 150px;
background-color:#D6DDED;border-radius: 50px;}
.container{border-radius: 10px;padding: 130px 150px;text-align: center;margin-top: 90px;border-radius: 20px;}
.div{display: flex;justify-content: space-around;}
.u{font-size: 38px;color: #4E47FF;}
.to{font-size: 80px;color: #4E47FF;}
.me{font-size: 20px;color: darkgray;}